<div class="profile-img overflow-hidden">
    <img class="w-full"
        src="https://images.unsplash.com/photo-1605379399642-870262d3d051?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80"
        alt="" />
</div>
<div class="md:container md:mx-auto">
    <div class="flex justify-center px-5    -mt-12">
        <img class="profile-img  bg-gray-200 p-2 rounded-full   " src="assets/images/me.jpg" alt="" />

    </div>
    <div class="text-center px-14 mb-4 ">
        <h2 class="text-gray-800 text-3xl font-bold">Mohammad nofallah</h2>
        <a class="text-gray-400 mt-2" href="mailto:mnoufalah@yahoo.com">mnoufalah@yahoo.com</a>
        <p class="text-gray-600">CEO <a class="text-blue-600 font-bold" href="https://www.ultradatagroup.com"
                target="_blank">@UltraDataGroup</a>
            company </p>
    </div>
    <div class=" p-14">
        <p class="font-bold text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias temporibus quam ipsam, provident
            dolorem beatae rem commodi nesciunt nulla, deleniti, voluptatibus consectetur? Accusantium distinctio
            debitis
            eligendi, soluta odio ratione.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias
            temporibus quam ipsam, provident
            dolorem beatae rem commodi nesciunt nulla, deleniti, voluptatibus consectetur? Accusantium distinctio
            debitis
            eligendi, soluta odio ratione.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias
            temporibus quam ipsam, provident
            dolorem beatae rem commodi nesciunt nulla, deleniti, voluptatibus consectetur? Accusantium distinctio
            debitis
            eligendi, soluta odio ratione.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus architecto quisquam consectetur
            voluptas
            similique veritatis, ea impedit, sit omnis dolor, provident ducimus perspiciatis aut at veniam nam
            exercitationem laudantium dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            maxime
            quae libero rem ipsam tempore eos alias magni officia nam enim necessitatibus eligendi cumque dolorem quas,
            natus, ut, voluptatibus corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perferendis
            quia corporis assumenda quis consequuntur commodi facilis ab pariatur consequatur obcaecati nam vel, est
            doloribus. Et aliquam sequi corrupti illum. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Tempore,
            quas autem deserunt maiores quo nemo, blanditiis, consectetur placeat assumenda impedit beatae non quaerat
            dolorem animi ipsum. Ipsum ipsam mollitia deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Pariatur, animi recusandae molestiae facere voluptatem illo temporibus. Dolores sapiente esse iste
            laboriosam
            tempora deserunt quos voluptate iusto, magni sed explicabo eligendi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Excepturi ex deserunt dignissimos molestias facilis deleniti reprehenderit. Vel quo ea,
            quod
            repellendus perferendis, cupiditate provident accusantium ex consequatur reiciendis odio harum.
        </p>
    </div>
</div>