<div class="md:container md:mx-auto">
    <h1 class="font-bold text-2xl  my-4">UltraDataGroup Pricing</h1>
    <div class="flex flex-col md:flex-row justify-center items-center ">

        <app-pricing-item [ngClass]="'bg-white z-30'" [title]="'Basic'" [price]="199.00">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
        </app-pricing-item>
        <app-pricing-item
            [ngClass]="'bg-blue-300 transform scale-1 sm:scale-1 md:scale-105 lg:scale-105 xl:scale-105 z-40 shadow-none sm:shadow-none md:shadow-xl lg:shadow-xl xl:shadow-xl'"
            [title]="'Pro'" [price]="399.00">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
        </app-pricing-item>
        <app-pricing-item [ngClass]="'bg-white z-30'" [title]="'Enterprise'" [price]="899.00">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
        </app-pricing-item>



    </div>
</div>